.navbar, .col-sm-3, .related-page-list
  display: none

.col-sm-9
  width: 100%
  height: 100%

html, body, #app-container, #app-container > div, .container-fluid, .row, .page-wrapper, .editor-wrapper
  height: 100%
  overflow: auto
  margin: 0 auto

.page
  min-height: calc(100vh - 20px)
  margin: 10px

.line
  font-size: 2em
  line-height: 1.2em
  img
    zoom: 150%
  .icon
    zoom: 150%

.ac-page-title
  font-size: 2em !important
  line-height: 1.2em
  margin-bottom: 1em
  text-align: center
  .icon
    zoom: 180%
